admin/target
admin/.mvn
admin/mvnw
admin/mvnw.cmd
admin/logs/

discovery/target
discovery/.mvn
discovery/mvnw
discovery/mvnw.cmd
discovery/logs

service-person/target
service-person/.mvn
service-person/mvnw
service-person/mvnw.cmd
service-person/logs


